* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}


::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.css-1toxriw-MuiList-root-MuiMenu-list {
  color: white !important;
  background: #2c2c2c !important;
}